<div id="cards-section">
    <div class="card1">
        <h1>Medical Patients</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, ab
            er?</p>
    </div>
    <div class="card2">
        <h1>Medical Patients</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, ab
            enim fa?</p>
    </div>
    <div class="card3">
        <h1>Medical Patients</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, ab
            enim facilis mollitia incidunt velit ducimus fugiat qu</p>
    </div>
</div>