<div id="footer">
    <div class="footer-logo"></div>
    <nav class="footer-nav">
        <a href="/home" class="footer-nav-item">HOME</a>
        <a href="/about" class="footer-nav-item">ABOUT</a>
        <a href="/apply" class="footer-nav-item">APPLY</a>
        <a href="/register" class="footer-nav-item">REGISTER</a>
        <a href="/contact" class="footer-nav-item">CONTACT</a>
    </nav>

    <div class="footer-contact-form">
        <input type="text" name="name" placeholder="Enter your name" />
        <input type="text" name="email" placeholder="Enter your email" />
        <input type="text" name="message" placeholder="Enter a message" />
        <button class="footer-contact-form-button" type="submit">SEND</button>
    </div>
</div>