<div class="home-about-section">
    <h1>OUR MISSION</h1>

    <p>
        Delivering Superior Medical Transportation Services To Our Patients
    </p>
    
    <button href="/about">ABOUT US</button>
</div>