<div id="home-hero">
    <div class="hero-content">
        <div class="image-overlay"></div>
        <h1 class="hero-heading">Better Medical Transportation</h1>
        <h2 class="hero-sub-heading">Fts is a thing that does this thing and another thing.</h2>
        <button class="hero-cta-button">REQUEST A RIDE</button>
    </div>
</div>