<nav class="navbar-container">
    <div class="nav-links-wrapper">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/apply">Apply</a>
        <a href="/register">Register</a>
        <a href="/contact">Contact</a>
    </div>
</nav>