<nav class="navbar-container">

    <div class="nav-logo-container">
        <img class="nav-logo" src="images/fts-logo.jpeg" />
    </div>

    <div class="nav-links-wrapper">

        <div class="top-nav-items-container">
            <a class="ride-anchor" href="/">RIDE WITH US</a>
            <a class="nav-home-anchor" href="/">HOME</a>
            <a href="/about">ABOUT</a>
        </div>

        <div class="botton-nav-items-container">
            <a href="/apply">APPLY</a>
            <a href="/login">LOGIN</a>
            <a class="contact-anchor" href="/contact">CONTACT</a>
        </div>

        
    </div>

    <a class="nav-phone-number">(928) 221-0141</a>

</nav>