<div id="cards-section">

    <div class="home-cards card1">
        <i class="fa-solid fa-car-side fa-5x"></i>
        <h2>Simple</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, ab
            ipisicing elit. Tempora quam exercitationem accusamus ipsam, ab ipisicing elit. Tempora quam exercitationem
            accusamus ipsam, ab
            er?</p>
    </div>

    <div class="home-cards card2">
        <i class="fa-solid fa-hand-holding-medical fa-5x"></i>
        <h2>Reliable</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, ab
            ipisicing elit. Tempora quam exercitationem accusamus ipsam, ab ipisicing elit. Tempora quam exercitationem
            accusamus ipsam, ab
            enim fa?</p>
    </div>

    <div class="home-cards card3">
        <i class="fa-solid fa-people-group fa-5x"></i>
        <h2>Safe</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, abmus
            ipisicing elit. Tempora quam exercitationem accusamus ipsam, ab ipisicing elit. Tempora quam exercitationem
            accusamus ipsam, ab
            fugiatqu</p>
    </div>

</div>