<div id="cards-section">

    <div class="home-cards card1">
        <img class="card-icon" src="images/fts-logo.jpeg" alt="fts-icon" />
        <h2>Simple</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, ab
            er?</p>
    </div>

    <div class="home-cards card2">
        <img class="card-icon" src="images/fts-logo.jpeg" alt="fts-icon" />
        <h2>Reliable</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, ab
            enim fa?</p>
    </div>

    <div class="home-cards card3">
        <img class="card-icon" src="images/fts-logo.jpeg" alt="fts-icon" />
        <h2>Safe</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam exercitationem accusamus ipsam, abmus
            fugiatqu</p>
    </div>

</div>
