<div id="drive-with-fts">
    <div class="drive-with-fts-overlay"></div>

    <div class="drive-with-fts-container">
        <h1>Drive With FTS</h1>
        <h3>
            Drive with FTS, we are safe, fast and reliable. Partners across Arizona are
            now riding with FTS.
        </h3>

        <button class="home-apply-btn">APPLY</button>
    </div>


    <span class="bottom-overlay">
        <p>
            Future Trans Systems is a reliable medical transportation service. Ride
            with us.
        </p>
        <img id="drive-with-fts-img" src="images/fts-logo.jpeg" alt="fts-logo" />
    </span>

</div>