<div class="home-about-section">
    <div class="about-heading-container">
        <h1>OUR MISSION</h1>
        <p>
            Delivering Superior Medical Transportation Services To Our Patients
        </p>
    </div>

    <button href="/about">ABOUT US</button>
</div>