<div id="request-a-ride-section">
    <div class="request-a-ride-form-container">
        <h1><i class="fa-solid fa-car fa-2x" style="padding-right: 5px";></i> REQUEST A RIDE</h1>

        <h3>Simply complete this form and we will be in touch with you to confirm your travel plans.</h3>
        <form id="ride-form">
            <input type="text" name="name" placeholder="enter your name" />
            <input type="text" name="email" placeholder="enter your email" />
            <input class="ride-message-box" type="text" name="phone" placeholder="enter your phone" />
        </form>
        <button class="request-a-ride-button" type="submit">Send Request</button>
    </div>

    <div class="need-to-register">
        <h1><i class="fa-solid fa-person fa-2x" style="padding-right: 15px";> </i>Need to register?</h1>
        <h3>Call 000-000-0000 or email us at clientregistry@fts.com</h3>
        <h4>This is just some extra content, maybe what they need to register</h4>
        <h3>What you need</h3>
        <ul>
            <li>government issued id</li>
            <li>insurance card</li>
            <li>insurance card</li>
            <li>insurance card</li>
        </ul>
    </div>
</div>