.application-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  width: 50%;
}

.application-form input {
  padding: 25px;
}

.application-form-label {
  width: 50%;
  padding: 25px 0 10px 0;
}
