/* style sheet for home page */

#home-hero {
  width: 100%;
  height: 50vh;
  background-image: url('../images/emergencyoffice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.hero-heading-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  position: relative;
  font-size: 60px;
}

.hero-sub-heading {
  position: relative;
  font-size: 28px;
}

.hero-cta-button {
  height: 50px;
  width: 200px;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(211, 42, 42);
  border: 2px solid rgba(128, 128, 128, 0.753);
  color: white;
}

.image-overlay {
  width: 100%;
  height: 50vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.685);
}

.home-about-section {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
}

.home-about-section h1 {
  text-decoration: underline solid red;
}

.home-about-section button {
  height: 60px;
  width: 250px;
  background-color: red;
  color: white;
  border: 2px solid rgba(128, 128, 128, 0.808);
  border-radius: 10px;
}

.home-about-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cards-section {
  height: 30vh;
  display: flex;
  flex-direction: row;
}

.home-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 50px solid white;
  flex-wrap: wrap;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: normal;
  padding: 15px;
  color: white;
}

.card1 {
  background-color: rgb(170, 15, 15);
}

.card2 {
  border-left: 25px solid white;
  border-right: 25px solid white;
  background-color: rgb(126, 7, 7);
}

.card3 {
  background-color: rgb(107, 11, 11);
}

#cards-section p,
h2 {
  color: white;
}

.card-icon {
  height: 100px;
}

#request-a-ride-section {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(218, 62, 62);
  color: white;
  padding: 15px;
}

.request-a-ride-form-container {
  height: 98%;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid white;
  border-radius: 10px;
  padding: 25px;
}

.need-to-register {
  height: 98%;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px;
  border: 3px solid white;
  border-radius: 10px;
}

#ride-form {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

#ride-form input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px rgba(255, 54, 54, 0.966) inset;
  padding-left: 10px;
  margin-top: 15px;
}

#request-a-ride-section button {
  height: 50px;
  width: 150px;
  background-color: rgb(38, 155, 38);
  border-radius: 50px;
  margin-top: 15px;
  float: right;
  border: 3px solid white;
  background-color: rgb(218, 62, 62);
  color: white;
}

#drive-with-fts {
  height: 50vh;
  width: 100%;
  background-image: url("../images/med_doc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#drive-with-fts img {
  height: 100px;
  margin-top: -150px;
}

#drive-with-fts h1,
h3 {
  position: relative;
}

#drive-with-fts h1 {
  font-size: 40px;
}

#drive-with-fts h3 {
  font-size: 24px;
}

#drive-with-fts p {
  font-size: 16px;
}

#drive-with-fts-img {
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
}

.drive-with-fts-overlay {
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: rgba(56, 0, 0, 0.541);
}

.bottom-overlay {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: rgba(255, 0, 0, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home-apply-btn {
  width: 10%;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  position: relative;
  color: white;
  float: right;
  margin-bottom: 125px;
}

.drive-with-fts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.drive-with-fts-container p {
  width: 30%;
  padding: 15px;
}
