/* style sheet for register page */
#login-form {
    width: 30%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#login-form input {
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid inset;
    padding-left: 10px;
    position: relative;
}

#login-form label {
    color: rgb(66, 66, 66);
}

.admin-login-button {
    height: 10%;
    width: 45%;
    border-radius: 20px;
}

/* style sheet for contact page */
.overlay {
  position: absolute;
  background-color: rgba(27, 27, 27, 0.219);
  height: 20vh;
  width: 80%;
}

.heading-h1 {
  position: relative;
  padding-left: 20px;
}

.heading-container {
  height: 30vh;
  width: 100%;
  background-image: url('../images/pexels-karolina-grabowska-4386467.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  color: rgb(243, 242, 242);
  font-size: 48px;
  text-shadow: 3px 1px 3px rgb(37, 37, 37);
}
