@import url(./about.css);
@import url(./apply.css);
@import url(./contact.css);
@import url(./home.css);
@import url(./dashboard.css);
@import url(./login.css);

* {
  box-sizing: border-box;
}

body {
  background: #666;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: end;
  padding: 24px;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-links-wrapper a {
  margin-right: 10px;
}
