@import url(./about.css);
@import url(./apply.css);
@import url(./contact.css);
@import url(./home.css);
@import url(./dashboard.css);
@import url(./login.css);
@import url(./footer.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.navbar-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 999999;
  padding: 20px 20px 0 20px;
}

.navbar-container a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.nav-links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}

.nav-logo {
  height: 140px;
  width: auto;
}

.nav-phone-number {
  background-color: rgb(194, 46, 46);
  border-radius: 20px;
  color: white !important;
  padding: 15px;
  width: 300px;
}

/* mobile nav */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.navbar-mobile li {
  padding: 12px 20px;
}
.navbar-mobile li + li {
  margin: 0;
}
.navbar-mobile a, .navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

.ride-anchor {
  background-color: rgb(194, 46, 46);
  color: white !important;
  padding: 15px;
}

.contact-anchor {
  background-color: rgb(0, 0, 0);
  color: white !important;
  padding: 15px;
}

.top-nav-items-container {
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.botton-nav-items-container {
  height: 50%;
  display: flex;
  justify-content: space-between;
}

/* style sheet for contact page */
.overlay {
  position: absolute;
  background-color: rgba(145, 0, 0, 0.61);
  height: 15vh;
  width: 100%;
}

.heading-h1 {
  position: relative;
  padding-left: 20px;
}

.heading-container {
  height: 15vh;
  width: 100%;
  background-image: url("../images/pexels-karolina-grabowska-4386467.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  color: rgb(243, 242, 242);
  font-size: 48px;
  text-shadow: 3px 1px 3px rgb(37, 37, 37);
}

@media screen and (max-width: 768px) {
  #request-a-ride-section {
    display: block;
    padding: 10px;
  }
  .need-to-register {
    margin-top: 15px;
    width: 100%;
    height: 70%;
    padding: 10px;
  }
  #cards-section {
    display: block;
    height: 100%;
  }
  .card2 {
    border-left: none;
    border-right: none;
  }
  .drive-with-fts-overlay {
    height: 85%;
  }
  .home-apply-btn {
    width: 80%;
  }
  #footer {
    display: block;
    padding: 10px;
  }
  .footer-nav a {
    padding-top: 10px;
  }
  #sub-footer {
    padding-top: 15px;
  }
}
