<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>FTS - About</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="about-container">
            <div class="heading-container">
                <div class="overlay"></div>
                <h1 class="heading-h1">ABOUT US</h1>
            </div>
            <div class="about-content">

                <div class="about-top-section">
                    <img src="images/fts-logo.jpeg" alt="fts-logo" />
                    <h2 class="about-top-heading">
                        ABOT FUTURE TRANS SYSTEMS
                    </h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quae ab obcaecati, aut at quasi
                        aspernatur evur eveniet quibus.</p>
                        <ul class="about-fts-top-list">
                            <li class="about-fts-top-item">stuff</li>
                            <li class="about-fts-top-item">stuff</li>
                            <li class="about-fts-top-item">stuff</li>
                            <li class="about-fts-top-item">stuff</li>
                            <li class="about-fts-top-item">stuff</li>
                            <li class="about-fts-top-item">stuff</li>
                        </ul>
                </div>

                <div class="about-bottom-section">
                    <p>about us Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur numquam
                        repudiandae
                        expedita consectetur ex facilis accusamus architecto laboriosam laborum nobis reiciendis
                        sapiente
                        deserunt quam voluptate sint soluta odit, aspernatur tempore xpedita consectetur ex facilis
                        accusamus architecto laboriosam laborum nobis reiciendis
                        sapiente
                        deserunt quam voluptate sint soluta odit, aspernatur tempore.</p>
                </div>

                <div class="about-location-container">
                    <img src="../public/images/fts-logo.jpeg" alt="map-of-arizona" class="map">
                    <p class="map-description">map *Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                        culpa, quod sunt asperiores mollitia dolorem fugit id unde enim veniam quos, quam aliquid a.
                        Aperiam est ex quibusdam esse voluptatibus.</p>
                </div>

                <div>
                    <h3>Why FTS?</h3>
                    <ul class="why-fts-list">
                        <li class="why-fts-list-item">fast</li>
                        <li class="why-fts-list-item">quick</li>
                        <li class="why-fts-list-item">free</li>
                        <li class="why-fts-list-item">time</li>
                        <li class="why-fts-list-item">money</li>
                        <li class="why-fts-list-item">more</li>
                    </ul>
                </div>

            </div>
        </div>
        <%- include('./partials/footer') %>
</body>

</html>
