<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>FTS - Apply</title>
</head>

<body>
    <%- include('./partials/navbar') %>

        <div class="heading-container">
            <div class="overlay"></div>
            <h1 class="heading-h1">APPLY</h1>
        </div>

        <div class="apply-title">
            <h3>Summary</h3>
            <p class="apply-summary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet iusto ipsum earum
                numquam odio totam. Sunt, accusantium delectus facere fugiat natus ex odio aperiam earum animi tempora
                beatae nulla maxime?
                Cum non, nisi voluptatem molestias dolor vero distinctio nam. Doloribus perspiciatis dolor sequi dolore
                minus quisquam quaerat nisi, quae quos repellendus alias hic sunt saepe ea aliquam nulla dolores
                deserunt!</p>
            <h3>Requirements</h3>
            <p class="apply-requirements">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fuga quisquam voluptates provident
                accusantium. Necessitatibus quaerat nulla obcaecati adipisci, dignissimos ducimus voluptatem praesentium
                unde dolorum quibusdam commodi harum cum neque.
            </p>
        </div>

        <div class="apply-details-container">
            <h3>How to apply</h3>
            <p class="how-to-apply-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, earum
                cupiditate impedit rem consequatur quos! Perspiciatis similique alias odit vitae omnis neque repellendus
                quis ratione nobis, accusamus, doloremque sed. Est.</p>
        </div>

        <div class="application-section-container">
            <form action="" class="application-form">
                <label class="application-form-label" for="name">Name</label>
                <input type="file" />
                <label class="application-form-label" for="name">Name</label>
                <input type="file" />
                <label class="application-form-label" for="name">Name</label>
                <input type="file" />
                <label class="application-form-label" for="name">Name</label>
                <input type="file" />
                <label class="application-form-label" for="name">Name</label>
                <input type="text" />
                <label class="application-form-label" for="name">Name</label>
                <input type="text" />
                <label class="application-form-label" for="name">Name</label>
                <input type="text" />
            </form>

            <button class="apply-button">SUBMIT APPLICATION</button>
        </div>
        <%- include('./partials/footer') %>
</body>

</html>